---
layout: default
---

<div class="catalogue">
  {% for post in paginator.posts %}
    <a class="catalogue-item">
	<div>	    
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%d %B %Y" }}</time>
        </div>	
    </a>
	      	<p>    		
		{{ post.content }} 	
		</p>
	
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

<a href="http://vonald.github.io/feed.xml"><img border="0" alt="Subscribe to What's New" src="https://i.imgur.com/fZIDSoj.png" width="100" height="100">

  <span>{{ paginator.page }}</span>
</div>
